<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

   <div id="map" class="map" style="width: 640px; height: 640px; border: 1px solid black;"
         data-zoom-min="{zoomMin}"
         data-zoom-max="{zoomMax}"
         data-resource-path-icons="{resourcePathIcons}">
   </div>

   <f:asset.css identifier="leaflet-css" href="EXT:maps/Resources/Public/Stylesheets/leaflet/leaflet-1.9.4.css" />

   <f:comment>Auf Data Attribute wechseln</f:comment>
   
   <f:asset.script identifier="leaflet-vars">
      var pois = {pois -> f:format.json() -> f:format.raw()}
      var mapProvider = {mapProvider -> f:format.raw()}
      var attributionProvider = {attributionProvider -> f:format.raw()}
      var boundsNorthEast = [{boundsNorthEast -> f:format.raw()}]
      var boundsSouthWest = [{boundsSouthWest -> f:format.raw()}]
      var zoomMin = {zoomMin}
      var zoomMax = {zoomMax}
      var maskGeoJson = {maskGeoJson -> f:format.raw()}
      var maskColor = {maskColor}
      var marker = {'city': 'blue', 'sight': 'gold', 'host': 'red', 'bar': 'green', 'shop': 'violet'};
   </f:asset.script>

   <f:asset.script identifier="leaflet-lib" src="EXT:maps/Resources/Public/JavaScript/leaflet/leaflet-1.9.4.js" />
   <f:asset.script identifier="leaflet-mask" src="EXT:maps/Resources/Public/JavaScript/leaflet/leaflet.mask-1.0.0.js" />
   <f:asset.script identifier="leaflet-map" src="EXT:maps/Resources/Public/JavaScript/map.js" />

</html>